<html>
    <head>
        <title>{% block head_title %}Welcome to my blog{% endblock %}</title>
        {% block styles %} {% include "styles.html" %} {% endblock styles %}
    </head>

    <body>
        {% block menu %} {% include "menu.html" %} {% endblock menu %}

        {% block content %} {% endblock %}

        {% block footer %} {% include "footer.html" %} {% endblock %}

        {% block tracking %} {% endblock %}

        {% block scripts %} {% include "scripts.html" %} {% endblock %}
    </body>
</html>
