{% extends "blogapp/base.html" %}

{% load django_markdown %}

{% block content %}

<style>
    body {
        padding-top: 100px;
    }

    .blue {
        background-color: blue;
    }
</style>

<!-- Posts do blog -->
<div class="container">

    <div class="row">
        <div class="col-lg-4">
            <div class="thumbnail">
              <div class="caption">
                <h3>Thumbnail label</h3>
                <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                <p><a href="#" class="btn btn-primary" role="button">Leia Mais</a></p>
              </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="thumbnail">
              <div class="caption">
                <h3>Thumbnail label</h3>
                <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                <p><a href="#" class="btn btn-primary" role="button">Leia Mais</a></p>
              </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="thumbnail">
              <div class="caption">
                <h3>Thumbnail label</h3>
                <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                <p><a href="#" class="btn btn-primary" role="button">Leia Mais</a></p>
              </div>
            </div>
        </div>
    </div>

   <div class="row">
       <div class="col-lg-12 col-lg-offset-11">
           <button type="button" class="btn btn-primary" >Mais</button>
       </div>
   </div>

</div>

<!-- Areas dos palestrantes -->
<div class = "row"><p></p></div>
<div class="row text-center"><h2>Palestrantes</h2></div>
<div class = "row"><p></p></div>

<div class="container">

    <div class="row">
        <div class="col-lg-12">
            <div class="row"> <!--style="border: 2px solid #000; display:block;"-->
                <div class="col-lg-2"><img src="" width="90" heinght = "90" alt="Speaker 1" class="img-rounded pull-right"></div>
                <div class="col-lg-10"><p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p></div>
            </div>
        </div>
    </div>

    <div class="row"><p></p></div>

    <div class="row">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-2"><img src="" width="90" heinght = "90" alt="Speaker 2" class="img-rounded pull-right"></div>
                <div class="col-lg-10"><p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p></div>
            </div>
        </div>
    </div>

    <div class="row"><p></p></div>

    <div class="row">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-2"><img src="" width="90" heinght = "90" alt="Speaker 3" class="img-rounded pull-right"></div>
                <div class="col-lg-10"><p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p></div>
            </div>
        </div>
    </div>

</div>

<!-- Area dos patrocinadores-->
<div class = "row"><p></p></div>
<div class="row text-center"><h2>Patrocinadores</h2></div>
<div class = "row"><p></p></div>

<div class="container">

<!--Patrocinador Gold-->

    <div class="row">
      <div class="col-lg-4 col-lg-offset-4">
         <div class="thumbnail">
         <div class="caption"><h3>Gold1</h3></div>
         </div>
      </div>
    </div>

<!--Patrocinador Silver-->

    <div class="row">
      <div class="col-lg-3 col-lg-offset-3">
        <div class="thumbnail"><div class="caption"><h3>Silver1</h3></div></div>
      </div>

      <div class="col-lg-3">
        <div class="thumbnail"><div class="caption"><h3>Silver2</h3></div></div>
      </div>
    </div>

<!--Patrocinador Bronze-->

    <div class="row">

      <div class="col-lg-2 col-lg-offset-2">
          <div class="thumbnail">
            <div class="caption"><h3>Bronze1</h3></div>
          </div>
      </div>

      <div class="col-lg-2">
          <div class="thumbnail">
            <div class="caption"><h3>Bronze2</h3></div>
          </div>
      </div>

      <div class="col-lg-2">
          <div class="thumbnail">
            <div class="caption"><h3>Bronze3</h3></div>
          </div>
      </div>

      <div class="col-lg-2">
          <div class="thumbnail">
            <div class="caption"><h3>Bronze4</h3></div>
          </div>
      </div>
    </div>


    <div class="row">
      <div class="col-lg-8">
        {% for object in object_list %}
         <div class = "post">
         <h2>{{ object.title }} </h2>
          <p class="meta">{{ object.created }} </p>
          {{ object.body|markdown }}
           </div>
        {% endfor %}
      </div>
    </div>

</div>



{% endblock %}
