{% extends 'blogapp/base.html' %}

{% load django_markdown %}

{% block content %}

<style>
    body {
        padding-top: 100px;

        padding-bottom: 100px;

    }

    .blue {
        background-color: blue;
    }
</style>



<div class="container">
    <div class="col-lg-10">
        <center><h1>{{ object.title}}</h1></center>
        <hr></hr>
        <div>{{ object.body }}</div>
        <hr></hr>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class=" col-lg-offset-5">
            <a href="{% url 'lista' %}" role="button" class="btn btn-primary" >Noticias</a>
        </div>
    </div>
</div>



{% endblock content %}
