{% extends "blogapp/base.html" %}

{% load django_markdown %}

{% block content %}

<style>
    body {
        padding-top: 100px;

    }

    .blue {
        background-color: blue;
    }
</style>

<p><center><h2>Nossos Palestrantes</h2></center></p>
<div class = "row"><p></p></div>

<div class="container">

    <div class="row">
        {% for speaker in speakers %}
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-2"><img src="{{ speaker.picture.url }}" width="90" heinght = "90" alt="{{ speaker.name }}" class="img-rounded pull-right"></div>
                    <div class="col-lg-10"><p><h3>{{ speaker.name }}, {{ speaker.ocupation }}</h3> - {{ speaker.subject }}</p></div>
                </div>
                <hr></hr>
            </div>
        {% endfor %}

        {% if is_paginated %}

            <span class="page-links">
                {% if page_obj.has_previous %}
                    <div class="col-lg-8 col-lg-offset-7">
                        <nav><ul class="pager"><li><a href="/speaker?page={{ page_obj.previous_page_number }}">Anterior</a></li></ul></nav>
                    </div>
                {% endif %}

                {% if page_obj.has_next %}
                    <div class="col-lg-8 col-lg-offset-7">
                        <nav><ul class="pager"><li><a href="/speaker?page={{ page_obj.next_page_number }}">Próxima</a></li></ul></nav>
                    </div>
                {% endif %}
            </span>
        {% endif %}
    </div>
</div>

{% endblock %}

