{% extends "blogapp/base.html" %}

{% load django_markdown %}

{% block content %}

<style>
    body {
        padding-top: 100px;
        height: 100%
    }

    .blue {
        background-color: blue;
    }
</style>

<p><center><h2>Nossos Patrocinadores</h2></center></p>
<div class = "row"><p></p></div>

<!--Patrocinador Gold-->

<div class="container">
    <div class="row">

        {% for sponsor in sponsors %}

            <div>
                {% if sponsor.level == GOLD %}

                    <div class="col-lg-4"><img src="{{ sponsor.picture.url }}" width="150" heinght = "150" alt="{{ sponsor.brand }}" class="img-rounded pull-right"></div>
                    <div>{{ sponsor.brand }} </div>

                {% elif sponsor.level == SILVER %}

                    <div class="col-lg-2"><img src="{{ sponsor.picture.url }}" width="150" heinght = "150" alt="{{ sponsor.brand }}" class="img-rounded pull-right"></div>
                    <div class="col-lg-10">{{ sponsor.brand}} </div>
                    prata

                {% elif sponsor.level == BRONZE %}

                    <div class="col-lg-2"><img src="{{ sponsor.picture.url }}" width="150" heinght = "150" alt="{{ sponsor.brand }}" class="img-rounded pull-right"></div>
                    <div class="col-lg-10">{{ sponsor.brand }} </div>
                    bronze

                {% endif %}

                </div>
            </div>

        {% endfor %}
</div>


{% endblock %}
