{% extends "blogapp/base.html" %}

{% load django_markdown %}

{% block content %}

<style>
    body {
        padding-top: 100px;
        height: 100%
    }

    .blue {
        background-color: blue;
    }
</style>

<p><center><h2>Nossos Patrocinadores</h2></center></p>
<div class = "row"><p></p></div>

<div class="container">
    {% regroup sponsors by level as sponsor_list %}

    <ul>
        {% for level in sponsor_list %}
            <li>{{level.grouper}}
                <ul>
                    {% for item in level.list %}
                        <li>
                            <div class="row">

                            {% if item.level == GOLD %}
                                <div class="col-lg-6"><img src="{{ item.picture.url }}" style="max-height:110px" /></div>

                            {% elif item.level == SILVER %}
                                <div class="col-lg-3"><img src="{{ item.picture.url }}" style="max-height:70px" /></div>

                            {% elif item.level == BRONZE %}
                                <div class="col-lg-3"><img src="{{ item.picture.url }}" style="max-height:55px" /></div>
                            {% endif %}
                            </div>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
